<div class="row">
  <div class="col-md-6"></div>
  <div class="searchbar col-md-6 ">
    <input class="search_input form-control input-sm " type="text" name="" placeholder="Search..."
      [(ngModel)]="searchText">
  </div>
</div>
<br/>
<table class="table table-hover table-bordered" matSort (matSortChange)="sortlstDomain($event)">
  <thead class="thead-light">
    <tr>
      <th scope="col" mat-sort-header="Domain">Domain</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of lstDomain|filter:searchText|paginate: { itemsPerPage: 10, currentPage: p5, id: 'fifth'} ">
      <td>{{item.Domain}}</td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p5 = $event" id="fifth"></pagination-controls>