<div class="row"> <!--DASHBOARD LOCATION-->
  <div class="col-xl-12">
      <kt-portlet [class]="'kt-portlet'">
          <kt-portlet-header [title]="'Botnet by location'">
          </kt-portlet-header>
          <kt-portlet-body>
            <div>
              <h3>{{title}}</h3>
            
            </div>
          </kt-portlet-body>
      </kt-portlet>
  </div>
</div>
<button type="button" class="btn btn-info" (click)=Backtonews()><img class="img-fluid" src="https://image.flaticon.com/icons/png/512/13/13964.png" style="max-width:15px;max-height: 15px;">  Back to News </button>