<div class="row">
  <div class="col-md-6"></div>
    <div class="searchbar col-md-6 ">
       <input class="search_input form-control input-sm " type="text" name="" placeholder="Search..." [(ngModel)]="searchText">
    </div>
</div>
<br/>
<table class="table table-hover table-bordered" matSort (matSortChange)="sortlstContact($event)">
  <thead class="thead-light">
    <tr >
      <th scope="col" mat-sort-header="Name">Name</th>
      <th scope="col" mat-sort-header="Email" >Email</th>
      <th scope="col" mat-sort-header="Phone">Phone</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of lstContact|filter:searchText|paginate: { itemsPerPage: 10, currentPage: p6, id: 'sixth'}">
      <td>{{item.Name}}</td>
      <td>{{item.Email}}</td>
      <td>{{item.Phone}}</td>
      
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p6 = $event" id="sixth"></pagination-controls>